@font-face {
  font-family: MuktaMahee; 
  src: url('../fonts/MuktaMahee-Regular.ttf'); 
}

@font-face {
  font-family: Quicksand; 
  src: url('../fonts/Quicksand-Regular.ttf'); 
}

@font-face {
  font-family: Quicksand-Bold; 
  src: url('../fonts/Quicksand_Bold.otf'); 
}

html, body {
  font-family: Quicksand, sans-serif;
  line-height: 1.5;
  margin: auto; 
  padding: 0;
  box-sizing: border-box;
  background-color: #1C2024;
  color: #ffffff;
  max-width:800px;
}

.container { 
  max-width: 640px;
  margin: 0 auto; 
  padding: 1em; 
}

main {
  width: 100%; 
  margin: 0 auto; 
  padding-top: 60px;
}

a {
  color: #007bff;
  text-decoration: none; 
}

a:hover {
  color: #0056b3; 
}

h1, h2, h3, h4, h5, h6 { 
  color: #ffffff;
  font-family: Quicksand, sans-serif;
  margin-top: 3rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 1rem;
}

nav {
  top: 0.5vw;
  width: 100%;
  background-color: #000000;
}

nav ul {
  list-style: none; 
  padding: 0;
  margin: 0;
  display: flex; 
  justify-content: space-between;
}

nav li {
  margin: 0 1rem; 
  float: left;
  width: 25%;
}

nav a {
  text-decoration: none;
  color: #fff; 
}

.right {
  float: right;
  list-style: none; 
  margin: 0;
  padding: 0;
}

.right li {
  display: inline-block; 
  margin-left: 1rem; 
}

.code-box {
  width: 300px;
  height: 100px;
  border: 1px solid #ccc;
  overflow: auto;
  font-family: monospace;
  font-size: 12px;
  padding: 5px;
  background-color: #f9f9f9;
}

blockquote {
  color: #f9f9f9be;
  border-left: 0.15vw solid ;
  padding-left: 1vw;
  margin: 0.75vw;
}

h1 {
  font-size: xx-large;
}

.bolded {
  font-family: Quicksand-Bold;
  letter-spacing: -0.02vw
}
/* For the gigachads */
.fixed-width {
  width: 5vw;
  text-align: center;
}

/* For the casual audience */
@media screen and (max-width: 480px){
  .fixed-width {
  width: 22vw;
}
}

.expandable-image {
  flex: 1;
}

.expandable-image img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
  display: block;
}

.expanded-view {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  text-align: center;
  box-sizing: border-box;
}

.expanded-view img {
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.expanded-view .close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.expanded-view .close-button::after {
  content: '×';
}

.expanded-view .navigation {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.expanded-view .next-prev-button {
  color: #fff;
  font-size: 1.2rem;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  text-decoration: none;
}

.expandable-image:target .expanded-view {
  display: block;
}

.image-gallery {
  display: flex;
  justify-content: space-around;
  gap: 1em;
}

.gallery-with-caption {
  text-align: center;
}

.image-caption {
  text-align: center;
  
  margin-top: 1em;
  
  color: #ccc;
  font-style: italic;
}